<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>hello</h1>
<p>hello</p>
<a href="{% url 'bassembranch' %}">Bassem Branch</a>
<a href="{% url 'israbranch' %}">Isra Branch</a>
<a href="{% url 'ihebbranch' %}">Iheb Branch</a>
<a href="{% url 'ayoubbranch' %}">Ayoub Branch</a>
<a href="{% url 'public_workshop_list' %}">Workshops</a>
<a href="{% url 'public_artwork_list' %}">Gallery</a>
<a href="{% url 'public_events_list' %}">Events</a>
<a href="{% url 'public_article_list' %}">Blog</a>
<a href="{% url 'ai_image_generator' %}">AI Image Generator</a>
<a href="{% url 'ai_background_remover' %}">AI Background Remover</a>
<a href="{% url 'ai_photo_editor' %}">AI Photo Editor</a>
<a href="{% url 'emotion_page' %}">Emotion Detector</a>
<a href="{% url 'ai_chat_page' %}">AI Chat Assistant</a>
<a href="{% url 'identify-artist' %}">Identify Artist</a>
<a href="{% url 'predict-price' %}">Art Price Predictor</a>
<a href="{% url 'upload' %}">Upload</a>
<a href="{% url 'public_workshop_detail' %}">Workshop Detail</a>
<a href="{% url 'public_event_detail' %}">Event Detail</a>
<a href="{% url 'public_article_detail' %}">Article Detail</a>
<a href="{% url 'public_artwork_detail' %}">Artwork Detail</a>
<a href="{% url 'public_artwork_detail' %}">Artwork Detail</a>

</body>
</html>